body, html {
  height: 100%;
  background-image: url('http://storage.googleapis.com/zagat-article-ss/ElFive_View_Denver_EdibleBeats.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #666666;
}
